.green {
    background-color:green;
}
.white{
    background-color:whitesmoke;
}
.gold{
    background-color:gold;
}
.block{
    height:100px;
    width:100px;
}
h4{
    background-color: green 
}
.gold text{
    color: gold 
}
