.twelvepx{
    width:120px;
    height:120px; 
}
.onepx{
    width:100px;
    height:100px; 
    background-color: white;
    border:20px solid red; 
}
.g{ 
    background-color: green;
}
.b{
    background-color: blue;
}
.r{
    background-color: red; 
}




