body{
    background-color: green 
}
img{
    height: 200px; 
    width: 200px; 
}
.squircle{
    border-radius: 100px;
    padding: 20px; 
}   
h1{
    border-style:dotted;
    border-width:20px;
    border-color:red; 
    font-family: "Times New Roman"; 
}

 
.pageMargin{
    border-style:double;
    border-width:20px;
    border-color:red; 
}















