body{
    background-color: green 
}
img{
    height: 200px; 
    width: 200px; 
}
.squircle{
    border-radius: 100px;
    padding: 20px; 
}   
.pageMargin{
    border-style:double;
    border-width:2px;
    border-color:red; 
}
h1{
    border-style:dotted;
    border-width:2px;
    border-color:red; 
}














